<html>
    <head>
        <title>
            <%= title %>
        </title>
<link rel="stylesheet"  href="/css/home.css">
<!-- font asoum script link -->
<script src="https://kit.fontawesome.com/3a2b5c12d0.js" crossorigin="anonymous"></script>

    </head>

    <body>
        <!-- Setting the header -->
        <header>
            <h1 id="header"> TODO APP</h1>
        </header>
        <hr>

        <!-- Input Section -->
        
            <div id="user-input-section">
                <form action="/description-list" method="POST">
                    <!-- this dive contains the Description -->
                    <div class="card">
                        <p>DESCRIPTION</p>
                        <input class="card" type="text"  name="discription" placeholder="What do you need to do? ">
                    </div>
                    <hr>
                    <!-- this div contains the Category and Due Data -->
                    <div class="catg-date-container card">
                        <div id="category">
                             
                                <p>CATEGORY</p>
                                <label for="category">Choose a category:</label>
                                <select name="category" required>
                                  <option value="Personal">Personal</option>
                                  <option value="Work">Work</option>
                                  <option value="School">School</option>
                                  <option value="other">other</option>
                                </select>
                               
                        </div>
                        <div id="duedate">
                            <p>DUE DATE</p>
                            <input type="date" name="date">
                        </div>
                    </div>
                    <hr>  
                    <div id="addbutton">
                         <button  type="submit"><i class="fa-solid fa-plus"></i>           
                            ADD TASK</button>
                             
                        </div> 
                </form>    
            </div>

            <!-- from here we will add the list dynamically -->
            <div id="ul-list">
                <ul style="list-style: none;">
                    <% for(let i of todo_list){ %>
                        <div id="todo-container">
                        <li>
                            <div class="dynamic-box" id="checkbox">
                            <input type="checkbox">
                            </div>

                            <div class="dynamic-box" id="dis-date-container">
                                <p id="todo-dis"><%= i.discription %></p>
                                
                               <p><i class="fa-solid fa-calendar-days"></i>
                                <%= i.date %></p>
                                <p style="font-family:cursive; color: rgb(65, 71, 240);"><%= i.category %></p>             
                            </div>

                            

                            <!-- to delete -->
                            <div class ="dynamic-box" id="delete-box">
                                <!-- <a href="/delete-contact/<%= i.phone %>">  1st way using params-->
                                    <button class="delete-button"><i class="fa-solid fa-trash-can"></i>
                                        <a style="text-decoration:none ;" href="/delete-contact/?id=<%= i._id %>" >  <!-- 2nd way using query param-->
                                    DELETE</button>
                                </a>
                            </div>
                        </li>
                    </div>
                    <% } %>
                </ul>
            </div>
        
    </body>
</html>